@charset "UTF-8";

/*custom style*/
// app
.app{
  height: 100vh;
  position: relative;
}

// components
.components{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 999;
}

// contents
.contents{
  position: relative;
  height: calc(100% - 60px);
}

// page
.page{
  height: 100%;
}

// header
.header{
  height: 60px;
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid #F2F2F2;
  .right{
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }
  .logo{
    margin: 0;
    padding: 0 10px;
    line-height: 60px;
    font-weight: 600;
    color: $default-color;
  }
  .user-profil{
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    color: #121212;
    cursor: pointer;
  }
}

#userDropdown{
  padding: 0px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #121212;
}
.user-dropdown{
  .dropdown-menu{
    min-width: 120px !important;
  }
  .icon{
    margin-right: 10px;
  }
}

.content-header{
  display: flex;
  flex-direction: row;
  .left{
    margin-right: auto;
  }
  .right{
    margin-left: auto;
  }
}

// sub-nav
.sub-nav{
  display: inline-flex;
  .sub-item{
    padding: 10px;
  }
  .sub-link{
    text-align: right;
    font-size: 14px;
    line-height: 40px;
  }
  .user-dropdown{
    line-height: 40px;
  }
}

// 냉장고 알림, 냉장교 체인지
.notice-component, .change-component{
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 10;
  width: 300px;
  .card{
    .content-header{
      padding: 10px;
    }
    .card-body{
      padding: 10px;
    }
  }
}

.notice{
  background-color: $items-color;
  .text{
    flex: 0 0 calc(100% - 50px);
  }
}

.change{
  border: 1px solid $default-color;
  &.active{
    background-color: $default-color;
    .title{
      color: white;
    }
    .icon{
      color: #fff;
    }
  }
  &:hover{
    background-color: $default-card-color;
    transition: 0.4s;
  }
  .text{
    display: flex;
    flex-direction: row;
  }
  .title{
    font-size: 16px;
    line-height: 40px;
    color: $default-color;
  }
  .img{
    object-fit: contain;
  }
  .text{
    flex: 0 0 calc(100% - 24px - 50px);
    display: flex;
    align-items: center;
    // 두줄 이상 ... 처리
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
     
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical
  }
  .btn-change{
    margin-left: auto;
    cursor: pointer;
    &:hover{
      .icon{
        opacity: 0.5;
      }
    }
  }
  .icon{
    margin: auto;
    display: flex;
    width: 24px;
    height: 100%;
    transition: 0.4s;
    color: $default-color;
  }
}

.notice, .change{
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  &:last-child{
    margin-bottom: 0px;
  }
  .img{
    width: 50px;
    flex: 0 0 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
  }
  .text{
    text-align: left;
    font-size: 14px;
    padding: 5px 10px;
    height: 50px;
    .title{
      font-weight: 600;
    }
  }
}

// 로그인, 회원가입
.login-page{
  height: 100vh;
  .login-component{
    height: 100%;
  }
  .login-content{
    height: 100%;
  }
}

.login-content{
  display: flex;
  flex-direction: row;
  .left{
    width: 100%;
    flex: 0 0 calc(100% - 500px);
    transition: 0.5s;
    background-color: $default-color;
  }
  .right{
    width: 500px;
    flex: 0 0 500px;
    transition: 0.5s;
    padding: 40px;
    .logo{
      padding: 20px;
      margin-bottom: 40px;
    }
    .btn-group{
      padding: 40px 40px 0px 40px;
      .btn{
        background-color: transparent;
        border: none;
        color: $default-color;
        font-size: 20px;
        padding-left: 0px;
        opacity: .5;
        &.active{
          opacity: 1;
          font-weight: 600;
        }
      }
    }
  }
}

.login, .register{
  padding: 40px;
  transition: 0.5s;
  .btn{
    width:100%;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
  }
  .btn-email-check{
    width: auto;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  .btn-pw{
    font-size: 14px;
    &:focus{
      border-color: transparent ;
      background-color: transparent !important;
    }
    &:active{
      background-color: transparent !important;
      border-color: transparent ;
    }
    &:first-child{
      &:active{
        background-color: transparent !important;
        border-color: transparent !important;
      }
    }
  }
}

// 캐릭터
.character-page{
  position: relative;
  .character-component{
    height: 100%;
  }
  .character-content{
    height: 100%;
    .row{
      height: 100%;
      padding: 10px;
    }
    .col{
      padding: 10px;
    }
  }
}

.character{
  .card{
    padding: 20px;
  }
  .title{
    width: 100%;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
  }
  .img{
    width: 400px;
  }
  .content-body{
    text-align: center;
  }
  &.create{
    .img{
      position: relative;
      opacity: .5;
    }
    .btn-add{
      padding: 0px;
      border: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border-radius: 50px;
    }
    .icon{
      width: 60px;
      height: 60px;
      color: $default-color;
      &:hover{
        color: $default-hover-color;
      }
    }
  }
}

.custom-dropdown{
  .dropdown-toggle{
    &::after{
      display: none;
    }
  }
  .btn{
    background-color: transparent;
    border: none;
    padding: 5px 10px;
  }
  .icon{
    color: $font-color;
  }
}

// bot
.bot-component{
  position: fixed;
  bottom: 20px;
  right: 20px;
  .bot-content{
    position: relative;
  }
  .bot-chatting{
    position: absolute;
    right: 80px;
    bottom: -80px;
    margin-right: 20px;
    width: 360px;
    background-color: $white;
    border: 2px solid $default-color;
    overflow: hidden;
    transition: 0.5s;
  }
}

.bot-chatting{
  .content-header{
    padding: 10px;
    background-color: $default-color;
    color: $white;
    .title{
      margin-bottom: 0px;
      font-size: 16px;
      line-height: 24px;
    }
    .icon{
      width: 24px;
      height: 24px;
      margin-left: auto;
      color: $white;
      cursor: pointer;
    }
  }
  .content-body{
    padding: 10px;
    height: 500px;
    overflow: auto;
    .bot-list{
      height: 100%;
    }
  }
  .content-footer{
    .btn-send{
      .icon{
        color: $white;
      }
    }
    .form-control{
      font-size: 14px;
    }
    .form-control, .btn{
      border-radius: 0;
    }
  }
}

.bot{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  .bot-cont{
    display: flex;
    flex-direction: row;
  }
  .bot-img{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: $default-color;
    border-radius: 20px;
    flex: 0 0 60px;
    .icon{
      width: 32px;
      height: 100%;
      color: #fff;
      margin: auto;
    }
  }
  .bot-text{
    padding-left: 20px;
    flex-grow: 1;
  }
  .bot-name{
    line-height: 60px;
    padding-left: 10px;
  }
  .list-group-item{
    &:hover{
      background-color: $default-card-color;
      cursor: pointer;
    }
  }
}

.q-bot{
  display: flex;
  flex-direction: column;
  .q-list{
    margin-left: 60px;
    padding: 10px 0;
  }
}

.qs-bot{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  .q-selected{
    padding: 10px;
    background-color: $default-color;
    border-radius: 5px;
    color: $white;
    margin-bottom: 10px;
  }
}

.a-bot{
  .a-list{
    margin: 10px 0px 10px 60px;
    padding: 10px;
    border: $border;
    border-radius: 5px;
  }
  .btn-group{
    margin: 0px 0px 10px 60px;
  }
  .btn{
    font-size: 14px;
  }
  p{
    margin: 0;
  }
}

// .bot-chatting{
//   .content-header{
//     padding: 10px;
//     background-color: $default-color;
//     color: $white;
//     .title{
//       margin-bottom: 0px;
//       font-size: 16px;
//       line-height: 24px;
//     }
//     .icon{
//       width: 24px;
//       height: 24px;
//       margin-left: auto;
//       color: $white;
//       cursor: pointer;
//     }
//   }
//   .content-body{
//     padding: 10px;
//     height: 500px;
//     overflow: auto;
//     .bot-list{
//       height: 100%;
//     }
//   }
// }

// .bot{
//   display: flex;
//   flex-direction: column;
//   transition: 0.4s;
//   .bot-img{
//     display: flex;
//     width: 60px;
//     height: 60px;
//     background-color: $default-color;
//     border-radius: 20px;
//     flex: 0 0 60px;
//     .icon{
//       width: 32px;
//       height: 100%;
//       color: #fff;
//       margin: auto;
//     }
//   }
//   .bot-text{
//     padding-left: 20px;
//     flex-grow: 1;
//   }
//   .bot-name{
//     font-size: 14px;
//     padding-top: 10px;
//   }
//   .bot-select{
//     font-size: 14px;
//     .list-group-item{
//       transition: 0.4s;
//       &:hover{
//         background-color: $default-card-color;
//         cursor: pointer;
//       }
//     }
//   }
//   &.right{
//     .bot-check{
//       margin-left: auto;
//     }
//   }
//   // 봇 선택
//   .bot-check{
//     padding: 10px;
//     margin: 10px 0;
//     background-color: $default-color;
//     color: $white;
//     border-radius: 10px;
//     font-size: 14px;
//   }
//   // 답변
//   .answer{
//     margin-bottom: 10px;
//     .card-title{
//       padding: 10px 0px;
//       font-size: 16px;
//     } 
//     .card-body{
//       padding: 10px;
//     }
//     .card-text{
//       font-size: 14px;
//     }
//   }
// }

.btn-bot{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  .icon{
    width: 32px;
    height: 32px;
    color: $white;
  }
}

// 인벤토리
.inventory-page{
  .row{
    height: 100%;
    .col{
      padding: 20px;
    }
  }
  .left, .right{
    height: 100%;
  }
  .right{
    border-left: 1px solid #f2f2f2;
  }
  .inventory-component{
    height: 100%;
  }
  .inventory-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .content-header{
    .btn-add{
      margin-left: auto;
      padding: 0;
      background: transparent;
      border: none;
    }
    .icon{
      width: 32px;
      height: 32px;
      color: $default-color;
      &:hover{
        color: $default-hover-color;
      }
    }
  }
  .content-body{
    height: 100%;
    padding: 20px;
  }
  .inventory-carousel{
    height: 100%; 
  }
}

.inventory-list{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  .ingr-group{
    display: flex;
    flex-direction: row;
  }
  .ingr{
    border-bottom: none;
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: #d1d1d1;
    margin: 20px;
    cursor: pointer;
  }
  .item{
    &.col{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    li{
      padding: 20px;
      border-bottom: 1px solid #f2f2f2;
      transition: 0.5s;
      margin: 20px;
    }
  }
}

// 재료
.ingr{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f2f2f2;
  &:last-child{
    border-bottom: none;
  }
  .ingr-img{
    flex: 0 0 140px;
    padding: 20px;
    .img{
      width: 100px;
      height: 100px;
      border-radius: 60px;
      border: 1px solid #d1d1d1;
    }
  }
  .ingr-content{
    display: flex;
    flex-direction: row;
    flex: 0 0 calc(100% - 140px);
    margin-left: auto;
    .ingr-title{
      font-weight: 500;
      flex: 0 0 200px;
      line-height: 60px;
    }
    .ingr-form{
      flex: 0 0 100%;
      z-index: 1;
      .modal-footer{
        border-top: none;
        padding: 0px;
      }
      .btn-create{
        margin: 0;
        margin-left: auto;
      }
    }
  }
  form{
    .form-group{
      display: flex;
      flex-direction: row;
    }
    .form-label{
      flex: 0 0 100px;
      margin-bottom: 0;
      line-height: 36px;
    }
    .count-text{
      line-height: 36px;
      padding-right: 20px;
      width: 100%;
    }
  }
  .ingr-delete{
    flex: 0 0 80px;
    text-align: center;
    .btn-delete{
      background-color: transparent;
      border: none;
    }
    .icon{
      color: $danger-color;
      &:hover{
        color: $danger-hover-color;
      }
    }
  }
}

// 재료 검색 결과
.search-result-component{
  position: absolute;
  top: 52px;
  width: calc(100% - 32px);
  z-index: 2;
}
.search-result-content{
  background: $white;
  border: $border;
  height: auto;
  max-height: 186px;
  overflow-y: auto;
}

.search-result{
  padding: 10px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  cursor: pointer;
  &:hover{
    background-color: $default-card-color;
  }
  &.nodata{
    cursor: default;
  }
  .ingr-img{
    width: 60px;
    height: 60px;
    border: $border;
    border-radius: 60px;
  }
  .ingr-name{
    line-height: 60px;
    padding: 0 20px;
  }
  .nodata-text{
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 14px;
  }
}


// 영양 성분, 메뉴 추천
.ingr-content-component{
  height: 100%;
  padding: 20px;
  .card{
    height: 100%;
  }
  .ingr-content{
    position: relative;
  }
}

// 영양 성분 
.nutrient-component{
  .content-header{
    .count-text{
      margin-left: auto;
    }
  }
}

// 시간, 날씨
.weather, .time{
  display: flex;
  flex-direction: row;
  .weather-text, .time-text{
    margin-left: auto;
  }
}

// 추천 메뉴
.items-content{
  .item{
    display: flex;
    flex-direction: column;
    .item-img{
      width: 100px;
      height: 100px;
      background-color: #f2f2f2;
      border: 1px solid #d1d1d1;
      border-radius: 100px;
      text-align: center;
      margin: auto;
      cursor: pointer;
    }
    .item-title{
      text-align: center;
      font-size: 14px;
    }
  }
}

.item-img{
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #d1d1d1;
  border-radius: 100px;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

// 재료 상세
.ingr-detail-modal{
  .modal-header{
    border-bottom: none;
    .title{
      margin-bottom: 0px;
      font-weight: 600;
    }
    .btn-close{
      margin-bottom: auto;
    }
  }
  .modal-body{
    .table{
      td, th{
        font-size: 14px;
      }
    }
  }
  .detail-ingr{
    margin-left: 10px;
  }
  .ingr-img{
    width: 120px;
    height: 100px;
  }
  .count-text{
    font-size: 14px;
  }
  .modal-footer{
    border-top: none;
    margin: auto;
  }
}

.user-detail-modal{
  .modal-header{
    border-bottom: none;
    .title{
      margin-bottom: 0px;
    }
    .btn-close{
      margin-bottom: auto;
    }
  }
  .modal-body{
    .table{
      td, th{
        font-size: 14px;
      }
    }
  }
  form{
    display: flex;
    flex-direction: column;
  }
  .btn-change{
    margin-left: auto;
  }
  .user-content{
    display: flex;
    flex-direction: row;
    .user{
      flex: 0 0 50%;
    }
  }
}

// 레시피 container
.recipe-page{
  .layout{
    height: calc(100% - 60px);
    padding: 40px;
  }
  .recipe-component{
    overflow-y: auto;
    height: calc(100% - 56px - 40px);
    min-height: 477px;
  }
  .search{
    margin-bottom: 20px;
  }
}

// 레시피
.recipy-modal{
  .modal-header{
    border-bottom: none;
    .title{
      margin-bottom: 0px;
    }
  }
  .modal-body{
    .table{
      td, th{
        font-size: 14px;
      }
    }
  }
  .modal-footer{
    border-top: none;
    margin: auto;
  }
}

.recipe{
  padding: 20px;
  .content-header{
    flex-direction: column;
  }
  .content-footer{
    text-align: center;
    padding: 40px;
    .btn-make{
      width: 160px;
      padding: 10px;
      font-size: 18px;
    }
  }
  .title, .sub-title{
    text-align: center;
    margin: auto;
    font-family: 'Gamja Flower';
  }
  .title{
    // font-family: 'Black Han Sans';
    font-weight: 900;
    margin-bottom: 20px;
  }
  // 레시피 이미지
  .recipe-main-img{
    margin: auto;
    display: flex;
    height: 600px;
    overflow: hidden;
    .main-img{
      display: flex;
      margin: auto;
      width: 400px;
    }
  }
  // 재료
  .ingr-header{
    display: flex;
    flex-direction: row;
    .ingr-title, .ingr-sub{
      padding: 20px 0;
      margin-bottom: 0;
    }
    .ingr-title{
      padding: 20px;
    }
  }
  .ingr-content{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .ingrs{
    width: 80%;
    margin: 40px auto;
    padding: 40px 0px;
    border-top: $border;
    border-bottom: $border;
  }
  .ingr{
    width: 50%;
    display: flex;
    flex-direction: row;
    border-bottom: none;
    .ingr-name, .ingr-value{
      padding: 20px;
    }
  }
  // 레시피 내용
  .recipe-desc{
    width: 80%;
    margin: auto;
    .ingr-title{
      font-family: 'Black Han Sans';
      padding: 20px;
      margin-bottom: 0;
    }
    .step{
      padding: 20px;
      .step-desc{
        display: flex;
        flex-direction: row;
      }
      .step-num{
        font-family: 'Gamja Flower';
        background-color: $default-color;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 24px;
        line-height: 50px;
        color: #fff;
        border-radius: 50px;
      }
      .step-img{
        width: 400px;
        margin: auto;
        display: block;
        padding: 20px
      }
      .step-cont{
        padding: 10px 20px;
        font-family: 'Gamja Flower';
        font-size: 20px;
      }
    }
  }
}

.recipe-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .recipe-item{
    text-align: center;
    margin: 20px;
    flex: 0 0 160px;
  }
  .list-img{
    height : 160px;
  }
  .list-title{
    text-align: center;
    padding: 5px;
    font-size: 14px;
  }
}


/*message*/
.message{
  font-size: 13px;
  margin-top: 5px;
  &.error{
    color: $danger-color;
  }
  &.success{
    color: $default-color;
  }
}